<!DOCTYPE HTML>
<html>
<head>
<title>LibShare!</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/structure_base.css">
</head>

<body>

<footer id="main">
  <a href="">Share your Books!</a> | <a href="">Team 15</a>
</footer>
<div id="navwrapper">  
      
        <ul id="nav" class="floatleft">  
            <li><a href="#">Kartik</a></li>  
            <li><a href="#">My Book Requests</a></li>       
              
        </ul>  
          
        <ul id="nav" class="floatright">  
            <li><a href="#">Edit Profile</a></li>  
            <!--<li><a href="#">username@yahoo.com</a></li>-->  
            <li><a href="#">Logout</a></li>  
        </ul>  
          
        <br class="clear">  
      
    </div>
</body>
</html>
