{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}LibShare{% endblock %}</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/structure_base.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/structure_profile_detail.css" %}">
</head>

<body>
<div id="navwrapper">  
      
        <ul id="nav" class="floatleft">  
            <li><a href="#">Kartik</a></li>  
            <li><a href="#">My Book Requests</a></li>       
              
        </ul>  
          
        <ul id="nav" class="floatright">  
            <li><a href="{% url 'userena_profile_edit' user.username %}">Edit Profile</a></li>  
            <!--<li><a href="#">username@yahoo.com</a></li>-->  
            <li><a href="#">Logout</a></li>  
        </ul>  
          
        <br class="clear">  
      
</div>
<div id="content">
{% block content %}{% endblock %}
</div>
<footer id="main">
  <a href="/">Share your books!</a> | <a href="http://openhackindia2012.hacker.yahoo.net/#groups/72566">Team Fifteen</a>
</footer>
</body>
</html>
