{% extends "base.html" %}

{% block title %}Welcome to LibShare{% endblock %}

{% block content %}
<form class="box login">
	<fieldset class="boxBody">
	  <label>Username</label>
	  <input type="text" tabindex="1" placeholder="username" required>
	  <label><a href="#" class="rLink" tabindex="5">Forget your password?</a>Password</label>
	  <input type="password" tabindex="2" required>
	</fieldset>
	<footer>
	  <label><input type="checkbox" tabindex="3">Keep me logged in</label>
	  <input type="submit" class="btnLogin" value="Login" tabindex="4">
	</footer>
</form>
<form class="box register">
	<fieldset class="boxBody">
	  <label>New to LibShare? Sign up!</label>
	  <input type="text" tabindex="1" placeholder="username" required>
	  <label></label>
	  <input type="text" tabindex="1" placeholder="email" required>
	  <label></label>
	  <input type="password" tabindex="2" placeholder="password" required>
 	</fieldset>
	<footer>
	  <label><input type="checkbox" tabindex="3">I accept!</label>
	  <input type="submit" class="btnRegister" value="Register!" tabindex="4">
	</footer>
</form>
{% endblock %}
