/*
  ✰✰✰✰✰✰✰✰✰✰✰✰✰✰ 

  Simple Login Form
  HTML5/CSS3 Coded by: $hekh@r d-Ziner, CSSJunction.com
  PSD by:PremiumPixels.com
  
  Uuage: Free. You can modify, remove our links and use wherever you want ☺.
  
  ✰✰✰✰✰✰✰✰✰✰✰✰✰✰✰ 
  
*/
body{
  background:#eff3f6;
}

html {
	margin: 0;
	padding: 0;
	background: #eff3f6 url('../4.jpg') center top repeat;
}


.box
{
    background:#fefefe;
    border: 1px solid #C3D4DB;
	border-top:1px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    -webkit-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    color:#444;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    margin:0 auto 30px;
	overflow:hidden;
}
.box.login
{
	height:260px;
        width:332px;
	position:absolute;
	
	left:80%;
	top:30%;
	margin:-130px 0 0 -166px;
}

.box.register
{
	height:290px;
        width:332px;
	position:absolute;
	left:80%;
	top:70%;

	margin:-130px 0 0 -166px;
}

.boxBody
{
    background:#fefefe;
    border-top:1px solid #dde0e8;
    border-bottom:1px solid #dde0e8;
    padding:10px 20px;
}

.box footer
{
    background:#eff4f6;
    border-top:1px solid #fff;
    padding:22px 26px;
    overflow:hidden;
	height:32px;
}
.box label
{
    display:block;
    font:14px/22px Arial, Helvetica, Sans-serif;
    margin:10px 0 0 6px;
}
.box footer label{
	float:left;
	margin:4px 0 0;
}
.box footer input[type=checkbox]{
	vertical-align:sub;
	*vertical-align:middle;
	margin-right:10px;
}
.box input[type=text],
.box input[type=password],
.txtField,
.cjComboBox
{
    border:6px solid #F7F9FA;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    margin:3px 0 4px;
    padding:8px 6px;
    width:270px;
    display:block;
}
.box input[type=text]:focus,
.box input[type=password]:focus,
.txtField:focus,
.cjComboBox:focus
{
    border:6px solid #f0f7fc;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
	color:#333;
}
.cjComboBox
{
    width:294px;
}
.cjComboBox.small
{
    padding:3px 2px 3px 6px;
    width:100px;
    border-width:3px !important;
}
.txtField.small
{
    padding:3px 6px;
    width:200px;
    border-width:3px !important;
}

.rLink{padding:0 6px 0 0; font-size:11px; float:right;}
.box a{color:#999;}
.box a:hover, .box a:focus{text-decoration:underline;}
.box a:active{color:#f84747;}
.btnLogin
{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:15px;
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #badff3, #7acbed);
    background:-webkit-gradient(linear, left top, left bottom, from(#badff3), to(#7acbed));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    border:1px solid #7db0cc !important;
    cursor: pointer;
    padding:11px 16px;
    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#fff;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    margin-left:12px;
    float:right;
	padding:7px 21px;
}

.btnLogin:hover,
.btnLogin:focus,
.btnLogin:active{
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #7acbed, #badff3);
    background:-webkit-gradient(linear, left top, left bottom, from(#7acbed), to(#badff3));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7acbed', EndColorStr='#badff3')";
}
.btnLogin:active
{
    text-shadow:rgba(0,0,0,0.3) 0 -1px 0px; 
}

.btnRegister
{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:15px;
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #badff3, #7acbed);
    background:-webkit-gradient(linear, left top, left bottom, from(#badff3), to(#7acbed));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    border:1px solid #7db0cc !important;
    cursor: pointer;
    padding:11px 16px;
    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#fff;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    margin-left:12px;
    float:right;
	padding:7px 21px;
}

.btnRegister:hover,
.btnRegister:focus,
.btnRegister:active{
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #7acbed, #badff3);
    background:-webkit-gradient(linear, left top, left bottom, from(#7acbed), to(#badff3));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7acbed', EndColorStr='#badff3')";
}
.btnLogin:active
{
    text-shadow:rgba(0,0,0,0.3) 0 -1px 0px; 
}

footer#main{
	position:fixed;
	left:0;
	bottom:10px;
	text-align:center;
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	width:100%;
}

    /*--navigation wrapper--*/  
    #navwrapper {  
        margin:0 auto;   
        background-color: #111;  
    }  
      
      
    #nav {  
        font-family: Arial, Helvetica, sans-serif;  
        font-size:12px;   
        padding-top:4px;  
    }  
      
    #nav, #nav ul {  
        padding: 0;  
        margin: 0;  
        list-style: none;  
        font-family: Arial, Helvetica, sans-serif;  
    }  
      
    /*--main nav links style--*/  
    #nav a {  
        display:block;  
        padding:7px 7px 7px 7px;   
        color:#ccc;   
        text-decoration:none;  
    }  
      
    #nav a.dmenu {  
      
    }  
      
    #nav a.dmenu:hover {  
        color:#3366CC !important;  
        background-color: #fff !important;  
    }  
      
    #nav li {  
        float: left;  
    }  
      
    #nav li {position: relative;}  
      
    /* hide from IE, mac */  
    #nav li {position: static; width: auto;}  
    /* end hiding from IE5 mac */  
      
    /*--drop down menu styling--*/  
    #nav li ul {  
        position: absolute;  
        display: none;  
        margin-left:-1px;  
        padding-bottom:10px;  
        background-color: #FFFFFF;  
        border: 1px solid #bbb;  
        border-top:none;  
        -moz-box-shadow: 0 0 5px #ddd;  
        -webkit-box-shadow: 0 0 5px #ddd;  
        box-shadow: 0 0 5px #ddd;  
        /*--make it top of all the elements on page, so that it can be visible--*/  
        z-index:5000;   
    }  
      
    #nav li:hover a, #nav a:focus,  
    #nav a:active {  
        padding:7px 7px 7px 7px;          
        color:#fff;   
        background:#444;   
        text-decoration:none;   
    }  
      
    #nav li ul, #nav ul li  {  
        width: 10em;  
    }  
      
    /*--drop down menu styling is different from main nav, strict rule--*/  
    #nav ul li a  {  
        color: #3366CC !important;  
        border-right: 0;  
    }  
    #nav ul li a:hover  {  
        color:#3366CC !important;  
        background-color: #eef3fb !important;  
        border-right: 0;  
    }  
      
    /*--the selected, current item in the navigation menu--*/  
    #nav a.current{  
        color:#fff;  
        font-weight:bold;   
        background:#2D2D2D;   
        text-decoration:none;   
        border-top:2px solid #C33;  
        padding-bottom:5px; /*--removing 2px border from 7px padding--*/  
    }  
      
    #nav a.current:hover{  
        padding-bottom:5px; /*--removing 2px border from 7px padding--*/  
    }  
      
    #nav li:hover ul {  
        display: block;  
    }  
      
    #nav li:hover ul a{  
        color: #000000;  
        background-color: transparent;  
    }  
      
    #nav ul a:hover {  
        background-color: #606060!important;  
        color: #FFFFFF !important;  
    }  
      
    /*--used in drop down menu items--*/  
      
     
    /*--for the left navigation menu--*/  
    .floatleft{float:left;}   
      
    /*--for the right options navigation menu--*/  
    .floatright{float:right;}  
      
    /*--clear all floating, left and right--*/  
    .clear{clear:both;}

